/* ==============================Home page ========================== */
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    /* background-color: rgb(241, 244, 247); */
    color: white;
    font-size: 20px;
}
nav{
    display: flex;
    background-color: rgb(12, 4, 62);
    justify-content: space-between;
}
.profile{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 5%;
 
}
.nav-right {
   
    display: flex;
    flex: 1;
    
}
.nav-right ul{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    
}
select{
    background-color: rgb(12, 4, 62);
    border-radius: 10px;
    margin-left: 5%;
    border: none;
    color: white;
    font-size: 20px;
}
li:hover{
    background-color: orange;
    margin: 0;
   
}
select:hover{
    background-color: orange;
}
.card:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.choose_selleror_customer{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


li{
    display: inline;
    text-align: center;
    padding: 20px;
   
}
main{
   
    background-image: url("../img/bg_man.jpg");
    height: 70vh;
   

}
.fine_info{
    display: flex;

    justify-content: center;
    align-items: center;
    height: 50%;

}
.search{
   
    display: flex;
    margin-top: 10%;
    width: 50%;
   
}
.search i{
    background-color: orange;
    margin-left: -45px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}
.search input{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color:black;
}
.display_product{
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
footer{
    display: flex;
    color: black;
    margin: 0;
    background-color: rgb(12, 4, 62);
    /* margin-top: 5%; */
    padding: 30px;
    font-size: 15px;
    color: white;
}
footer h3{
    margin: 2%;
}
.footer-left,.footer-center,.footer-right{
    display: flex;
    flex: 1;
   

}
.footer-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    

  
}

.footer-right{
    display: flex;
    flex-direction: column;

}

#imfor img{
    margin-top: 10%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* =======================create product ================================================= */
a{
    text-decoration-line: none;
    color: whitesmoke;


}
.create{
    display: flex;
    justify-content: center;
  

}
form{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: black;
    background-color: aquamarine;
    padding: 20px;
    margin: 5%;
    border-radius: 5px;
    


}

dialog{
    width: 50%;
    margin: 10% 0 10% 25%;
    padding: 30px;
    height: 70%;
}
input{
    padding: 10px;
    width: 90%;

}
.name,.price{
    margin: 10px;
}


.delete_edit h4{
   margin: 10px;
   padding: 6px;
   border-radius: 10px;
   background-color: orange;

}
.display_product .card{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 10px;
    padding: 10px;
    background-color: rgba(234, 227, 235, 0.733);
}
.imfor_prodcut{
    display: flex;
    justify-content: space-between;
    flex: 2;
}
.imfor_product img{
    width: 40px;
}
.delete_edit{
    display: flex;
    width: 20px;
    height: 60px;
    flex: 1;
    justify-content: flex-end;
    cursor: pointer;
}
#gender{
    width: 100px;
    margin: 10px;
}
#create{
    padding: 8px;
    background-color: green;
    border-radius: 5px;
    border: none;
    color: white;
    width: 80px;
    margin-left: 1150px;
    cursor: pointer;
}
#btnCreate,#cancel{
    padding: 8px;
    border: none;
    width: 90px;
    border-radius: 5px;
    margin:50px;
    
}
#btnCreate{
    background-color: green;
    cursor: pointer;
}
#cancel{
    background-color: orange;
    cursor: pointer;
}
/* ====================================================customer============================== */
.all_cards .card{
    background-color: blue;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    justify-content: center;
    align-items: center;

}
.card .imformation{
    padding: 5px;
}
.card #bntBuy{
    margin: 5px;
}
.all_cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    
    

}
.all_cards{
    background-color: aqua;
    width: 1250px;

}
#bntBuy{
    padding: 7px;
    background-color: orange;
    border-radius: 5px;
    border: none;
}
.card img{
    width: 200px;
    height: 200px;
    

}

