<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create product</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="profile">
            <img src="../../img/logo.png" alt="">
        </div>
        <div class="nav-right">
            <ul>
                <li><a href="../customer/customer.html">Customer</a> </li>
                <li><a href="seller.html">Seller</a> </li>
            </ul>
        </div>
           
    </nav>
    
    
    <div class="create" style ="display: none">
        
        <dialog open>
            
            <h2>Create product</h2>
            
            <div class="name">
                <label for="Name">Name</label>
                <input type="text" id="name_product">
               
            </div>
            <div class="price">
                <label for="price">Price</label>
                <input type="text" id="price_product">
                
            </div>
            <div class="image_product">
                <label for="image">Chooce image</label>
                <input type="text" id="image_product">
               
            </div>
            <select name="" id="gender">
                <option value="men">Man</option>
                <option value="women">Women</option>
            </select>
            <div class="btn_create">
                <button id="btnCreate"onclick = "createOrEditProduct()">Create</button>
                <button id="cancel" onclick="onCancel()">Cancel</button>
            </div>
            

    
        </dialog>

        
        
        
    </div>
    <div class="all_product">
        <h2>All prodcut</h2>
        <button id="create" onclick="openDialogToCreate()">Create</button>
        <div class="display_product">
           
           
        </div>
        
    </div>
    <footer>
        <div class="footer-left">
             <div class="location">
                 <h3> LOCATION</h3>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
             </div>
         </div>
         <div class="footer-center">
             <h3>ABOU THE WEB</h3>
             <div id="imfor">
                 <img src="../../../img/facebook.png" alt="">
                 <img src="../../../img/youtube.png" alt="">
                 <img src="../../../img/twitter.webp" alt="">
                 <img src="../../../img/instragram.png" alt="">
             </div>
             
             
         </div>
         <div class="footer-right">
             <div class="about">
                 <h3>ABOUT</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quasi molestias quas laborum vel, ratione eligendi obcaecati Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eaque tempora in rem, labore consectetur repudiandae neque! Minus iusto quibusdam hic nesciunt quia placeat, laborum aliquid id nobis, odit quos?</p>
         </div>
    </footer>

    
    
    
</body>
<script src="seller.js"></script>
</html>