<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    
    <script src="customer.js" defer></script>

</head>
<body>

    <nav>
        <div class="profile">
            <img src="../../img/logo.jpg" alt="">
        </div>
         <!-- /// search Product//=========================== -->

        <form action="" id="search-prodcuts">
            <input type="text" placeholder="Search Product..." />
            <i class="material-icons">search</i>
           
        </form>
        <div class="nav-right">
            <ul>
                <li><a href="customer.html">Customer</a> </li>
                <li><a href="../seller/seller.html">Seller</a> </li>
            </ul>
        </div>
        <div class="shopping_card">
            <a href="add_card/add_card.html">
            <i class="material-icons">add_shopping_cart</i>
            </a>
        </div>
       

           
    </nav>

    <!-- @@display product ================== -->

    <div class="container_all" style="display: block;">
        <!-- <dialog> -->
            <main>
            </main>
            <div class="display_product">
                <h1>My products</h1>
                <div class="all_cards"></div>
            </div>
        <!-- </dialog> -->
    </div>
   

    <!-- <!///-- detail producte============================ --> 
    
    
    <footer>
        <div class="footer-left">
             <div class="location">
                 <h3> LOCATION</h3>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
             </div>
         </div>
         <div class="footer-center">
             <h3>ABOU THE WEB</h3>
             <div id="imfor">
                 <img src="../../../img/facebook.png" alt="">
                 <img src="../../../img/youtube.png" alt="">
                 <img src="../../../img/twitter.webp" alt="">
                 <img src="../../../img/instragram.png" alt="">
             </div>
             
             
         </div>
         <div class="footer-right">
             <div class="about">
                 <h3>ABOUT</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quasi molestias quas laborum vel, ratione eligendi obcaecati Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eaque tempora in rem, labore consectetur repudiandae neque! Minus iusto quibusdam hic nesciunt quia placeat, laborum aliquid id nobis, odit quos?</p>
         </div>
    </footer> 
    
    
</body>

</html>