<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy</title>
    <link rel="stylesheet" href="../../../css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="profile">
            <img src="../../../../../img/logo.jpg" alt="">
        </div>
         <!-- /// search Product//=========================== -->

        <form action="" id="search-prodcuts">
            <input type="text" placeholder="Search Product..." />
            <i class="material-icons">search</i>
           
        </form>
        <div class="nav-right">
            <ul>
                <li><a href="../customer.html">Customer</a> </li>
                <li><a href="../../seller/seller.html">Seller</a> </li>
            </ul>
        </div>
           
    </nav>
</body>
</html>