<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="profile">
            <img src="../../../../../img/logo.jpg" alt="">
        </div>
         <!-- /// search Product//=========================== -->

        <form action="" id="search-prodcuts">
            <input type="text" placeholder="Search Product..." />
            <i class="material-icons">search</i>
           
        </form>
        <div class="nav-right">
            <ul>
                <li><a href="../customer.html">Customer</a> </li>
                <li><a href="../../../seller/seller.html">Seller</a> </li>
            </ul>
        </div>
           
    </nav>
    <div class="detail_product" >
    
            <div class="img_product">
                <img src="" alt="">
            </div>
            <div class="detail_imfor">
                <div class="name">Nmae: <span id="name"></span></div>
                <div class="price">Price: <span id="price"></span></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet rem quos quod obcaecati commodi sequi quia ad, molestias aperiam excepturi qui nesciunt eum ipsam vero veniam dicta. Alias, rem dicta.</p>
                <div class="buy_Cancel">
                    <button id="buy">Buy now</button>
                    <button id="cancel"onclick = "bnt_cancel()">Cancel</button>

                </div>
            </div>

    </div>
    <script src="ditail_buy.js"></script>
</body>
</html>