<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project javascrep</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
   
     <div class="card_container">
        <div class="big_card">
            <h2>CHOOSE SELLER/CUSTOMER</h2>
            <div class="choose">
                <div id="card-seller">
                    <img src="../../img/profile.png" alt="">
                    <div class="people">
                    <span>Seller</span>
                    </div>
                </div>
                <div id="card-customer">
                    <img src="../../img/profile.png" alt="">
                    <div class="people">
                        <span>Customer</span>
                    </div>
                </div>
            </div>
           

        </div>
     </div>
      
       
    
</body>
</html>